server {
	listen 80 default_server;
    listen [::]:80 default_server;

	listen 8080 default_server;
    listen [::]:8080 default_server;

	server_name _;


	location / {
		proxy_pass http://localhost:{{ agama_port }};

	}
	location /stub_status {
		stub_status;
	}
	location /node_exporter {
		proxy_pass http://localhost:{{ prometheus_exporters['node']['port'] }}/metrics;
	}
	location /node-metrics {
		proxy_pass http://localhost:{{ prometheus_exporters['node']['port'] }}/metrics;
	}

	location /bind-metrics {
		proxy_pass http://localhost:{{ prometheus_exporters['bind']['port'] }}/metrics;
	}

	location /mysql-metrics {
		proxy_pass http://localhost:{{ prometheus_exporters['mysql']['port'] }}/metrics;
	}
	location /nginx-metrics {
		proxy_pass http://localhost:{{ prometheus_exporters['nginx']['port'] }}/metrics;
	}
	

{% if inventory_hostname in groups['influxdb'] %}
	location /influxdb-metrics {
	    proxy_pass http://localhost:9424/metrics;
	}
{% endif %}

{% if inventory_hostname in groups['prometheus'] %}
	location /prometheus {
	    proxy_pass http://localhost:9090;
	}
{% endif %}
{% if inventory_hostname in groups['grafana'] %}
	location /grafana {
	    proxy_pass http://localhost:{{grafana_port}};
	}
{% endif %}

}