acl lan { 
	{% for s in subnets %}
	  {{ s }};
	{% endfor %}
};

options {
	directory "/var/cache/bind";

	forwarders {
      {% for f in dns_forwarders %}
	    {{ f }};
      {% endfor %}
	};
	dnssec-validation no;
    allow-query { 
		lan; 
	};
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};