[Unit]
Description= pinger service for influxdb
After=network.target

[Service]
Restart=always
RestartSec=1
User=pinger
ExecStart= /usr/local/bin/pinger/pinger.sh $ARGS

[Install]
WantedBy=multi-user.target